<div class="planner_fields form-group">
  <%= f.label :email, t('label.planner_email') %>
  <%= f.text_field :email, :placeholder => t('placeholder.email'), :class => "form-control input-lg" %>
  <p class="help-block"><%= t('label.front_email_help') %></p>
</div>
