<div class="particular--pwhich__question js-phwich-question-<%= pwhich.id %>">
  <i class="glyphicon glyphicon-arrow-right"></i> <%= pwhich.question %>
  <%= link_to pwhich, remote: true, method: :delete, :class => "particular--pwhich__question__destroy", data: {confirm: 'Are you sure?' } do %>
    <i class="glyphicon glyphicon-remove-circle js-destroy-pwhich"></i> 
  <% end %>
</div>
